*.bak
*.class
*.swp

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
target/
tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/
gradle-app.setting
.tags*
.gradletasknamecache
gradle-app.setting
.tags1
.tags
.gradle
.gradle.log
*.idea
*.iml
.idea
.cursor/
dependency-reduced-pom.xml
target/
build/
crafter-install/
live-env/
crafter-auth-env/
!craftercms/src/.gitkeep
craftercms/src/
bundles/
craftercms/crafter-authoring
craftercms/crafter-delivery
crafter-authoring
crafter-delivery
downloads/

# CrafterCMS modules (cloned locally)
# These should be removed once the monorepo and gradle upgrade is complete
/cli/
/deployer/
/engine/
/js-sdk/
/studio/
/studio-ui/

# Migrated modules:
/commons/**
!/commons/
!/commons/**/
!/commons/**/build.gradle
/core/**
!/core/
!/core/build.gradle
/groovy-sandbox/**
!/groovy-sandbox/
!/groovy-sandbox/build.gradle
/script-security-plugin/**
!/script-security-plugin/
!/script-security-plugin/build.gradle
/search/**
!/search/
!/search/**/
!/search/**/build.gradle
/profile/**
!/profile/
!/profile/**/
!/profile/**/build.gradle
/engine/**
!/engine/
!/engine/build.gradle
/social/**
!/social/
!/social/**/
!/social/**/build.gradle
/studio-ui/**
!/studio-ui/
!/studio-ui/build.gradle
/studio/**
!/studio/
!/studio/build.gradle
/deployer/**
!/deployer/
!/deployer/build.gradle
/cli/**
!/cli/
!/cli/build.gradle

!utils/src/main/java/org/craftercms/bundle/utils/
utils/target
.project
.settings/
.vscode/
selftest-env/*
plugins

# Docker
docker/images/build/
docker/compose/serverless/s3/delivery/config/engine/server-config.properties
.env
